{%include 'head.html'%}

<body style='margin: 0;'>

<div class="container" style="margin-top: 2vmin;" >
    <form class="form" method="POST" style="text-align: center">
        <div class="container">
            <div class="row" >
                <div class="col-sm">
                    <input type="number" class="form-control" name="moeda1" min="0" id="inputMoeda1" placeholder="Insira o valor para conversão" required>
                </div>
                <div class="col-sm">
                    <select class="form-select" name="tipoMoeda1" id="tipoMoeda1" required>
                        <option selected>Selecione uma moeda</option>
                            <option value="BRL"> Real Brasileiro (BRL) </option>
                            <option value="USD"> Dolar Americano (USD) </option>
                            <option value="EUR"> Euro (EUR) </option>
                            <option value="CAD"> Dólar Canadense (CAD) </option>
                            <option value="ARS"> Peso Argentino (ARS)</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 1vmin;">
                <div class="col-sm">
                    <input type="number" class="form-control" name="moeda2" min="0" id="inputMoeda2" disabled>
                </div>
                  <div class="col-sm">
                    <select class="form-select" name="tipoMoeda2"  id="tipoMoeda2" required>
                        <option selected value="">Selecione uma moeda</option>
                            <option value="BRL"> Real Brasileiro (BRL) </option>
                            <option value="USD"> Dolar Americano (USD) </option>
                            <option value="EUR"> Euro (EUR) </option>
                            <option value="CAD"> Dólar Canadense (CAD) </option>
                            <option value="ARS"> Peso Argentino (ARS)</option>
                    </select>
                  </div>
            </div>
            <div class="row">
            <div class="col-sm" style="margin-top: 2vmin;">
                <input type="submit" class="btn btn-primary mb-3" value="Converter">
            </div>
          </div>
        </div>
    </form>
</div>

{% if 'valorCompra' in cotacao %}

<div class='container'>
    <h4>Resultado da Conversão</h4>
    <p id="valorCompra">Valor Compra: {{cotacao['valorCompra']}}</p>
    <p id="valorVenda">Valor Venda: {{cotacao['valorVenda']}}</p>
    <hr>
    <h4>Informações de cotação</h4>
    <p id="dataCotacao">Última atualização: {{cotacao['dataCotacao']}}</p>
    <p id="maximoDia">Máximo (dia): {{cotacao['maximoDia']}}</p>
    <p id="minimoDia">Mínimo: {{cotacao['minimoDia']}}</p>
    <p id="variacao">Variação: {{cotacao['variacao']}}</p>
    <p id="porcentagemVariacao">Porcentagem de Variação: {{cotacao['porcentagemVariacao']}}</p>
    
</div>
{% else %}
    {% if 'message' in cotacao%}
    <div class='container'>
        <p id="message">{{cotacao['message']}}</p>
    </div>
    {% endif %}
{% endif %}


</body>
{%include 'footer.html'%}