<h4>Real vs Moedas</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Última atualização</th>
      <th scope="col">Moeda</th>
      <th scope="col">Valor Compra</th>
      <th scope="col">Valor Venda</th>
      <th scope="col">Variação (%)</th>
    </tr>
  </thead>
  <tbody>
    {%for moeda in moedas%}
    <tr>
      <td>{{moedas[moeda]['dataCotacao']}}</td>
      <td>{{moedas[moeda]['nome']}}</td>
      <td>{{moedas[moeda]['valorCompra']}}</td>
      <td>{{moedas[moeda]['valorVenda']}}</td>
      <td>{{moedas[moeda]['porcentagemVariacao']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
